{% extends 'base.html' %}
{% block title %}Manage database{% endblock %}
{% block content %}
<br>
<p>View, rename, or delete existing websites in database.</p>
<p>Websites are sorted alphabetically.</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Website</th>
            <th scope="col">Number of pages</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for table, websiteName in tableData %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="{{request.path}}{{table.0}}">{{websiteName}}</a></td>
            <td>{{table.1}}</td>
            <td>Hi</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}