{% extends 'base.html' %}
{% block title %}Manage database{% endblock %}
{% block content %}
<br>
<p>View or delete pages in table: {{table}}</p>
<p>Click <a href="{{website}}">here</a> to visit the website's main page, or click on a page title below to visit a specific page.</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col" style="width: 5%">No.</th>
            <th scope="col">Page Title / URL</th>
            <th scope="col" style="width: 9%; text-align:center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for page in pages %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="{{page.0}}" target="_blank" rel="noopener noreferrer">{{page.1}}</a></td>
            <td style="text-align: center;">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="submitparam1" value="value1">
                    <button type="submit" name="row" value="{{page.0}}" class="link-button">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}