{% extends 'base.html' %}
{% block title %}Manage database{% endblock %}
{% block content %}
<br>
<p>View or delete entries for database table "{{table}}".</p>
<p>Entries are sorted alphabetically by page title</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Page Title / URL</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for page in pages %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="{{page.0}}" target="_blank" rel="noopener noreferrer">{{page.1}}</a></td>
            <td>Hi</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}