<div class="container navDiv">
    <nav class="navbar navbar-light navbar-expand-lg">
        <a class="navbar-brand" href="/">&nbsp ZFleck Web Search</a>
        <ul class="navbar-nav mr-auto">
            {% if activeTab == "/crawl" %}
            <li class="nav-item active">
            {% else %}
            <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="/crawl">Crawl</a>
            </li>
            
            {% if activeTab == "/search" %}
            <li class="nav-item active">
            {% else %}
            <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="/search">Search</a>
            </li>
            
            {% if activeTab == "/manage-database" %}
            <li class="nav-item active">
            {% else %}
            <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="/manage-database">Manage database</a>
            </li>
        </ul>
    </nav>
</div>