{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block content %}
<br>
<form method="post">
    {% csrf_token %}
    <p>Enter the website, search method, a search term, and the number of results to display:</p>
    <p class="tab">- If not specified, 'Search method' will default to 'Python str.count()'.</p>
    <p class="tab">- If not specified, 'No. of Results to Display' will default to 10.</p>
    <p class="tab">- 'Website' and 'Search term' fields <b>must</b> be filled out.</p>
    <select name="input_website" class="inputBox">
        {% if searchWebsite %}
            <option selected value="{{searchWebsite}}">{{searchWebsite}}</option>
        {% else %}
            <option disabled selected value="">Website</option>
        {% endif %}
        
        {% for website in searchableWebsites %}
            {% if website != searchWebsite %}
                <option value="{{website}}">{{website}}</option>
            {% endif %}
        {% endfor %}
    </select>
    
    <select name="input_method" class="inputBox">
        {% if searchMethod %}
            <option selected value="{{searchMethod}}">{{searchMethodName}}</option>
        {% else %}
            <option disabled selected value="">Search method</option>
        {% endif %}
        
        {% for method in searchMethods %}
            {% if method.1 != searchMethod %}
                <option value="{{method.1}}">{{method.0}}</option>
            {% endif %}
        {% endfor %}
    </select>
    
    <input autocomplete="off" class="inputBox" name="input_search" placeholder="Search term" type="text">
    
    <select name="input_amount" class="inputBox">
        {% if amountOfResults %}
            <option selected value="{{amountOfResults}}">{{amountOfResults}}</option>
        {% else %}
            <option disabled selected value="">No. of Results to Display</option>
        {% endif %}
        
        {% for option in amountOfResultsOptions %}
            {% if option != amountOfResults %}
                <option value="{{option}}">{{option}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="submit" value="Search" class="inputBox">
</form>
<br>

{% if noWebsite %}
    <p>Error: Please select a website.</p>
{% endif %}

{% if noSearchTerm %}
    <p>Error: Please input a search term.</p>
{% endif %}

{% if searchTerm %}
    {% if searchResults %}  
        <p>Top {{amountOfResults}} results for "{{searchTerm}}" (searched {{totalPages}} pages in {{searchTime}} milliseconds):</p>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Result</th>
                    <th scope="col">Page Title / URL</th>
                    <th scope="col">Number of Matches Found</th>
                </tr>
            </thead>
            <tbody>
                {% for result in searchResults %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="{{result.1}}" target="_blank" rel="noopener noreferrer">{{result.2}}</a></td>
                    <td>{{result.0}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No results found for "{{searchTerm}}" (searched {{totalPages}} pages in {{searchTime}} milliseconds)</p>
    {% endif %}
{% endif %}
{% endblock %}