{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block content %}
<p>Enter the website, search method, a search term, and the number of results to display:</p>
<p class="tab"> - If not specified, 'Search method' will default to 'Python str.count()'.</p>
<p class="tab"> - If not specified, 'No. of Results to Display' will default to 10.</p>
<p class="tab"> - 'Website' and 'Search term' fields <b>must</b> be filled out.</p>
<form method="post">
    {% csrf_token %}
    <select name="input_website" class="inputBox">
        {% if searchTable %}
            <option selected value="{{searchTable}}">{{searchWebsite}}</option>
        {% else %}
            <option disabled selected value="">Website</option>
        {% endif %}

        {% for website, table in searchableWebsites %}
            {% if table != searchTable %}
                <option value="{{table}}">{{website}}</option>
            {% endif %}
        {% endfor %}
    </select>

    <select name="input_method" class="inputBox">
        {% if searchMethod %}
            <option selected value="{{searchMethod}}">{{searchMethodName}}</option>
        {% else %}
            <option disabled selected value="">Search method</option>
        {% endif %}

        {% for method in searchMethods %}
            {% if method.1 != searchMethod %}
                <option value="{{method.1}}">{{method.0}}</option>
            {% endif %}
        {% endfor %}
    </select>

    {% if searchTerm %}
        <input autocomplete="off" class="inputBox" name="input_search" type="text" value="{{searchTerm}}" onfocus="value=''">
    {% else %}
        <input autocomplete="off" class="inputBox" name="input_search" placeholder="Search term" type="text">
    {% endif %}

    <select name="input_amount" class="inputBox">
        {% if amountOfResults %}
            <option selected value="{{amountOfResults}}">{{amountOfResults}}</option>
        {% else %}
            <option disabled selected value="">No. of Results to Display</option>
        {% endif %}

        {% for option in amountOfResultsOptions %}
            {% if option != amountOfResults %}
                <option value="{{option}}">{{option}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="submit" value="Search" class="inputBox">
</form>
<br>

{% if noWebsite %}
    <p>Error: Please select a website.</p>
{% endif %}

{% if noSearchTerm %}
    <p>Error: Please input a search term.</p>
{% endif %}

{% if searchTerm %}
    {% if searchResults %}
        <p>Displaying top {{topResults}} of {{foundPages}} pages for "{{searchTerm}}" (searched {{totalPages}} pages in {{searchTime}} milliseconds)</p>
        <p>Click on a page title to visit its URL.</p>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 5%">Result</th>
                    <th scope="col">Page Title / URL</th>
                    <th scope="col" style="width: 15%">No. of Matches Found</th>
                </tr>
            </thead>
            <tbody>
                {% for result in searchResults %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="{{result.1}}" target="_blank" rel="noopener noreferrer">{{result.2}}</a></td>
                    <td>{{result.0}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No results found for "{{searchTerm}}" (searched {{totalPages}} pages in {{searchTime}} milliseconds)</p>
    {% endif %}
{% endif %}
{% endblock %}