{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<a href="/crawl">Go to crawl</a>
<br>
<br>
<h3>searchWebsite is {{searchWebsite}}</h3>
<form method="post">
    {% csrf_token %}
    <select name="input_website">
        {% if searchWebsite %}
            <option selected value="{{searchWebsite}}">{{searchWebsite}}</option>
        {% else %}
            <option disabled selected value="">Website</option>
        {% endif %}
        
        {% for website in searchableWebsites %}
            {% if website.0 != searchWebsite %}
                <option value="{{ website.0 }}">{{ website.0 }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <select name="input_method">
        {% if searchMethod %}
            <option selected value="{{searchMethod}}">{{searchMethodName}}</option>
        {% else %}
            <option disabled selected value="">Search Method</option>
        {% endif %}
        
        {% for method in searchMethods %}
            {% if method.1 != searchMethod %}
                <option value="{{ method.1 }}">{{ method.0 }}</option>
            {% endif %}
        {% endfor %}
    </select>
    Search Term: <input type="text" name="input_search">
    <input type="submit" value="Submit">
</form>

{% if searchWebsite %}
    <h3>searchWebsite: {{searchWebsite}}</h3>
    <h3>searchMethod: {{searchMethod}}
    <h3>searchTerm: {{searchTerm}}</h3>
    <br>
    <h3>searchResults:</h3>
    {% for result in searchResults %}
        <br>
        <a href="{{result.1}}">{{result.2}}................{{result.0}}</a>
        <br>
    {% endfor %}
    <br>
    Found "{{searchTerm}}" on {{foundPages}} pages in {{searchTime}} milliseconds
{% endif %}

{% endblock %}