.navDiv{
    background-color: #DEE2E6;
}

.navbar{
    padding: 0px;
}

.nav-item{
    padding: 5px;
}

.active{
    background-color: #CED4DA;
}

.content{
    background-color: #F8F9FA;
    padding-bottom: 1px;
    padding-left: 25px;
    padding-right: 25px;
}

.inputBox{
    height:30px;
}

.link-button {
    color: var(--bs-link-color);
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
}

.link-button:hover{
    color: var(--bs-link-hover-color);
}

.tab{
    margin-left: 40px;
}